:root {
  //Grayscale
  --color-white: #ffffff;
  --color-white-1: #fbfbfb;
  --color-white-2: #f2f2f2;

  --color-grey: #d0d0d0;
  --color-grey-1: #89888a;
  --color-grey-2: #565558;

  --color-black: #2b292e;
  --color-black-1: #222125;
  --color-black-2: #131215;

  // Categories
  --color-categories: #5CB1FF;
  --color-categories-1: #16C0C2;
  --color-categories-2: #BB9BFF;
  --color-categories-3: #FF985F;
  --color-categories-4: #1270CE;
  --color-categories-5: #0E4747;
  --color-categories-6: #5123F5;
  --color-categories-7: #D24E19;
  --color-categories-8: #6D28FF;
  --color-categories-9: ##14A1A3;

  // font Poppins family
  --font-regular: "poppins-regular", sans-serif;
  --font-medium: "poppins-medium", sans-serif;
  --font-semibold: "poppins-semibold", sans-serif;
}
